:root {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #070709;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 62.5% /* 1rem = 10px */;

  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  min-width: 320px;
  min-height: 100vh;
  font-weight: 400;

  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.logo {
  font-weight: 700;
  font-style: italic;
  color: #ffd033;
  font-size: 3.2rem;
  width: auto;
}

input,
textarea,
button,
select,
::placeholder {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

/*navbar*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(1rem, 2vw, 1.5rem) clamp(1rem, 8vw, 8rem);
  flex-direction: row;
  width: 100%;
  z-index: 1000;
  position: sticky;
  background-color: #070709;
  gap: 2rem;
  flex-wrap: wrap;
}

.nav-links {
  display: flex;
  gap: clamp(1rem, 2vw, 3rem);
  align-items: center;
}

.search-icon {
  display: none;
  margin-bottom: 3px;
}
.search-bar,
.small-searchbar {
  background-image: linear-gradient(to right, black, #131416);
  width: clamp(8rem, 45vw, 85rem);
  border-radius: 10px;
  border: 1px solid #d5d6d9;
  padding: 0.8rem 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  min-width: 0;
  max-width: 100%;
}

.small-screen-searchbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: black;
}

.search-bar input,
.small-searchbar input {
  background: transparent;
  border: none;
  width: 100%;
  color: #d5d6d9;
  outline: none;
}

.small-searchbar {
  width: 100% !important;
}

.signin-button {
  width: fit-content;
  height: fit-content;
  padding: 10px 28px;

  font-size: 1.2rem;
  font-weight: 400;

  background-color: #131416;
  color: white;

  border: 1px solid #d5d6d9;
  border-radius: 10px;
  white-space: nowrap;
  transition: 0.5s ease;
}

.signin-button:hover {
  background-color: white;
  color: black;

  border-radius: 10px;
  border: 1px solid black;
}

.signup-button {
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;

  font-size: 1.2rem;
  font-weight: 400;

  background-color: white;
  color: black;

  border-radius: 10px;
  border: 1px solid black;

  transition: 0.5s ease;
  white-space: nowrap;
}

.signup-button:hover {
  background-color: #131416;
  color: white;

  border: 1px solid #d5d6d9;
  border-radius: 10px;
}

@media (max-width: 830px) {
  .search-bar {
    display: none;
  }
  .search-icon {
    display: block;
  }
}

/*sign in and sign up popups*/

.pop-up-parent-container {
  position: relative;
  display: inline-block;
  z-index: 1001;
}

/*footer*/

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  padding-top: 6vh;
  padding-bottom: 6vh;

  width: 100%;
  height: fit-content;
  bottom: 0;

  background-color: #131416;
}

.footer > p {
  margin-bottom: 2px;
}

.footer .copyright {
  color: #d5d6d9;
  font-size: 1rem;
}

.footer .copyright {
  color: #d5d6d9;
  font-size: 1rem;
  font-style: italic;
}
