.checkout-container {
  display: flex;
  flex-direction: column;
  padding: clamp(1rem, 2vw, 1.5rem) clamp(1rem, 8vw, 8rem);
  margin-bottom: 30px;
}

.selectedCheckout {
  color: #ffcf33 !important;
}

.checkout-header h1 {
  color: #ffcf33;
  font-size: 2.4rem;
  margin-bottom: 2px;
}

.checkout-header span {
  font-size: 1.6rem;
  margin-right: 10px;
  color: white;
}

/*INFORMATION*/
.information-container,
.payment-container {
  font-weight: 300;
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 5rem;
}

.checkout-customer-details,
.checkout-payment-details {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex: 1;
  position: relative;
}
.info-input {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.info-input input {
  background-color: transparent;
  border: none;
  height: auto;
  border-bottom: 0.5px solid #d5d6d9;
  outline: none;
  font-size: 1.6rem;
  font-weight: 300;
  padding-bottom: 0.6rem;
  width: 100%;
  color: white;
}

.display-user-info {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.fixedInfo {
  font-size: 1.6rem;
  font-weight: 300;
  padding-bottom: 0.6rem;
  width: 100%;
  color: white;
  margin-bottom: 15px;
}

.info-title {
  font-size: 1.2rem;
  margin-bottom: 0.2vh;
}

.first-lastname,
.email-phone,
.postal-city-region {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: space-between;
}

.info-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.to-payment {
  justify-content: flex-end;
}

.return-cart-btn {
  font-size: 1.6rem;
  color: #ffcf33;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.proceed-btn {
  background-color: #ffcf33;
  color: black;
  border: none;
  padding: 1.2rem 3rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
}
/* ORDER OVERVIEW */
.order-overview-container {
  background-color: #131416;
  border: 1px solid #d5d6d9;
  min-height: 60vh;
  height: auto;
  width: 40%;
  border-radius: 10px;
  padding: 2rem;
}
.order-overview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
}
.order-products {
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  grid-template-columns: 1 0.5fr 2fr;
  gap: 1rem;
}

.product-img {
  object-fit: cover;
  width: 80px;
  height: 80px;
  flex: 0 0 80px;
}

.overview-name-price {
  display: flex;
  font-size: 1.6rem;
  flex-direction: column;
}

.overview-price {
  color: #ffcf33;
}

.order-amount {
  display: flex;
  flex-direction: column;
}
.overview-subtotal,
.overview-shipping,
.overview-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.overview-subtotal,
.overview-shipping {
  font-size: 1.6rem;
}

.overview-total {
  font-size: 2rem;
  margin-top: 15px;
  font-weight: 700;
}

/*PAYMENT*/
.checkout-payment-details {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.payment-contact {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.contact-details {
  display: flex;
  flex-direction: column;
}

.payment-method h1 {
  font-size: 2rem;
  color: #ffcf33;
}

.method-selection {
  background-color: #131416;
  border: 1px solid #d5d6d9;
  border-radius: 10px;
}
.method {
  border-bottom: 1px solid #d5d6d9;
  padding: 1.5rem 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

input[type="radio"] {
  accent-color: #ffcf33;
}

.logo-container {
  height: 30px;
}

.card-logos {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.logo-container img {
  width: 70px;
  height: 100%;
  object-fit: cover;
}

/*CHECKOUT PROCESSING*/
.checkout-text {
  color: #d5d6d9;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
}

.checkout-page {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #070709;
}
