.cart-popup {
  position: absolute;
  top: 45px;
  right: 0;
  width: 300px;
  background: linear-gradient(
    180deg,
    rgba(7, 7, 9, 1) 0%,
    rgba(19, 20, 22, 1) 100%
  );

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  padding: 15px;
  border-radius: 8px;
  color: #333;
  display: flex;
  flex-direction: column;
}

.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-left: 5px;

  p {
    color: #ffc919;
    font-size: 1.75rem;
    font-weight: 500;
  }
}

.close-cart-button {
  background-color: transparent;
  width: 3vw;

  border: none;
  outline: none;

  color: white;
  font-size: 2rem;

  transition: 0.5s ease;
}

.close-cart-button:hover {
  color: #ffd033;
}

.empty-cart {
  text-align: center;
  color: #777;
  font-size: 1.25rem;
  padding: 50px 0;
  border-radius: 8px;
}

.cart-list {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 15px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  font-size: 1.25em;
}

.item-details-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.item-name {
  font-weight: 600;
  font-size: 1.25rem;
  color: white;
  max-width: 60%;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-price-total {
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffd033;
  min-width: 100px;
  text-align: right;
}

.quantity-controls {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  width: fit-content;
}

.qty-button {
  background-color: black;
  font-weight: bold;
  color: white;

  border: none;
  cursor: pointer;

  padding: 5px 10px;
  font-size: 1.1rem;

  transition: background-color 0.2s;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qty-button.minus {
  border-radius: 6px 0 0 6px;
}
.qty-button.plus {
  border-radius: 0 6px 6px 0;
}

.item-qty-value {
  padding: 0 10px;
  text-align: center;
  font-weight: 500;
  font-size: 1.1rem;
  min-width: 25px;

  color: white;
}

.cart-footer {
  padding-top: 25px;
  border-top: 1px solid #ddd;
  margin-top: 25px;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
}

.cart-total span:last-child {
  color: #ffd033;
}

.cart-footer-checkout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin-top: 2vh;
}

.checkout-button {
  width: 100%;
  padding: 15px;
  background-color: #ffd033;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.checkout-button:hover:not(:disabled) {
  background-color: #ffc919;
}
.checkout-button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
