#root {
  margin: 0 auto;
  height: fit-content;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.admin-container {
  display: flex;
  flex-direction: column;
  padding: clamp(1rem, 2vw, 1.5rem) clamp(1rem, 8vw, 8rem);
  color: #f0f0f0;
  min-height: 100vh;
}

.header h1 {
  font-size: 2.4rem;
}
.dashboard {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: clamp(2rem, 4vw, 5rem);
}

.sidebar {
  width: 20%;
  min-width: 160px;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;

  margin-bottom: 1.7rem;
  padding: 1.3rem 2rem;
  border-radius: 0 10px 10px 0;

  font-size: 1.6rem;
  cursor: pointer;
  background-color: #131416;
}

.unselectedtab {
  color: #d5d6d9;
  transition: 0.5s ease;
}

.unselectedtab:hover,
.selectedtab {
  color: #ffcf33;
}

.selectedli {
  background: #070709;
  background: linear-gradient(
    90deg,
    rgba(7, 7, 9, 1) 23%,
    rgba(19, 20, 22, 1) 100%
  );
}

.main-content {
  width: 100%;
}

@media (max-width: 960px) {
  .sidebar span {
    display: none;
  }
  .sidebar {
    min-width: 0;
    width: auto;
  }
}

.addsupplier {
  text-transform: uppercase;
  font-weight: 500 !important;
  font-size: 1.2rem !important;
}

/* SUPPLIER */

.supplier-header .search-bar {
  align-items: center;
}

.supplier-table-container {
  background-color: #131416;
  border-radius: 8px;
  overflow-x: auto;
  padding: 10px;
  padding-left: 30px;
  margin-top: 2vh;
}

.supplier-table {
  width: 100%;
  margin-top: 20px;
  min-width: 900px;
  border-collapse: collapse;
  margin-top: 10px;
}
.supplier-table-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr 1fr 0.7fr 1fr;
  width: 100%;
  font-size: 1.4rem;
  padding: 15px 20px;
  color: #ffcf33;
  padding: 1rem 0;
  border-bottom: 0.1px solid #d5d6d986;
  text-align: left;
  text-transform: uppercase;
}

.supplier-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr 1fr 0.7fr 1fr;
  width: 100%;
  font-size: 1.3rem;
  padding: 15px 20px;
  color: #ccc;
  padding: 1rem 0;
  border-bottom: 1px solid #28282b;
  text-align: left;
}

.supplier-row {
  cursor: pointer;
}

.supplier-row:hover {
  background-color: #1a1a1c;
}

.supplier-row:last-child {
  border-bottom: none;
}

.supplier-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.supplier-header .search-bar {
  width: 100%;
}
