#root {
  margin: 0 auto;
  height: fit-content;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.admin-container {
  display: flex;
  flex-direction: column;
  padding: clamp(1rem, 2vw, 1.5rem) clamp(1rem, 8vw, 8rem);
}
.header h1 {
  font-size: 2.4rem;
}
.dashboard {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: clamp(2rem, 4vw, 5rem);
}

.sidebar {
  width: 20%;
  min-width: 160px;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;

  margin-bottom: 1.7rem;
  padding: 1.3rem 2rem;
  border-radius: 0 10px 10px 0;

  font-size: 1.6rem;
  cursor: pointer;
  background-color: #131416;
}

.unselectedtab {
  color: #d5d6d9;
  transition: 0.5s ease;
}

.unselectedtab:hover,
.selectedtab {
  color: #ffcf33;
}

.main-content {
  width: 100%;
}

@media (max-width: 960px) {
  .sidebar span {
    display: none;
  }
  .sidebar {
    min-width: 0;
    width: auto;
  }
}

.admin-users-table {
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
  background-color: #141517;
  padding-top: 1.3rem;
  border-radius: 10px;
  padding: 1rem;
}
.users-columnHeader,
.user-entry {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.4fr 1fr;
  width: 100%;
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  border-bottom: 0.1px solid #d5d6d986;
}
.users-columnHeader span,
.user-entry span {
  white-space: normal;
  word-break: break-word;
}
.users-columnHeader {
  font-weight: 600;
  color: #ffcf33;
}
.user-entry {
  font-weight: 300;
}

.users-list {
  overflow-y: auto;
  height: 50vh;
}
