#root {
  margin: 0 auto;
  height: fit-content;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.admin-container {
  display: flex;
  flex-direction: column;
  padding: clamp(1rem, 2vw, 1.5rem) clamp(1rem, 8vw, 8rem);
}
.header h1 {
  font-size: 2.4rem;
}
.dashboard {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: clamp(2rem, 4vw, 5rem);
}

.sidebar {
  width: 20%;
  min-width: 160px;
}

.sidebar li {
  list-style: none;
  margin-bottom: 1.7rem;
  font-size: 1.6rem;
  cursor: pointer;
  background-color: #131416;
  padding: 1.3rem 2rem;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-content {
  width: 100%;
}
/* STYLES FOR ORDERS-TAB */
.admin-orders-section {
  gap: 1.6rem;
  display: flex;
  flex-direction: column;
}
.admin-orders-section .search-bar {
  width: 100%;
}

.orders-filter {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  align-items: center;
}
.orders-filter label {
  font-size: 1.6rem;
}

.orders-filter select {
  background-color: #131416;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 120px;
  font-weight: 400;
  padding: 5px 10px;
  border-right: 10px solid transparent;
}

.admin-orders-tab {
  background-color: #010101;
  border-radius: 5px;
  border: 1px solid #d5d6d9;
  width: auto;
  padding: 1rem 2rem;
}

.admin-orders-tab ul {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
  justify-content: space-evenly;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #ffcf33;
}

.admin-orders-columnHeader {
  display: grid;
  grid-template-columns: 1fr 0.3fr 2fr 1fr 1fr 1fr 1fr;
  font-size: 1.6rem;
  color: #ffcf33;
  padding: 0 1.2rem;
}

.admin-orders-list {
  display: grid;
  grid-template-columns: 1fr 0.3fr 2fr 1fr 1fr 1fr 1fr;
  font-size: 1.6rem;

  padding: 0 1.2rem;
}
