#root {
  margin: 0 auto;
  height: fit-content;
}
.admin-container {
  display: flex;
  flex-direction: column;
  padding: clamp(1rem, 2vw, 1.5rem) clamp(1rem, 8vw, 8rem);
  width: 100%;
}
.header h1 {
  font-size: 2.4rem;
}
.dashboard {
  display: flex;
  flex-direction: row;
}
.sidebar {
  width: 20%;
}

.sidebar ul {
  padding: 0;
  margin: 0;
}
.sidebar li {
  list-style: none;
  margin-bottom: 1.7rem;
  font-size: 1.6rem;
  cursor: pointer;
  background-color: #131416;
  padding: 1.3rem 2rem;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
