#root {
  margin: 0 auto;
  height: fit-content;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.admin-container {
  display: flex;
  flex-direction: column;
  padding: clamp(1rem, 2vw, 1.5rem) clamp(1rem, 8vw, 8rem);
}
.header h1 {
  font-size: 2.4rem;
}
.dashboard {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: clamp(2rem, 4vw, 5rem);
}

.sidebar {
  width: 20%;
  min-width: 160px;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;

  margin-bottom: 1.7rem;
  padding: 1.3rem 2rem;
  border-radius: 0 10px 10px 0;

  font-size: 1.6rem;
  cursor: pointer;
  background-color: #131416;
}

.unselectedtab {
  color: #d5d6d9;
  transition: 0.5s ease;
}

.unselectedtab:hover,
.selectedtab {
  color: #ffcf33;
}

.selectedli {
  background: #070709;
  background: linear-gradient(
    90deg,
    rgba(7, 7, 9, 1) 23%,
    rgba(19, 20, 22, 1) 100%
  );
}

.main-content {
  width: 100%;
}

@media (max-width: 960px) {
  .sidebar span {
    display: none;
  }
  .sidebar {
    min-width: 0;
    width: auto;
  }
}

/* SUPPLIER */

.supplier-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.supplier-header .search-bar {
  width: 100%;
}

.supplier-header button {
  width: 12vw;
  border-radius: 10px;
  border: transparent;
  background-color: #ffcf33;
  color: black;
}

.supplier-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));

  gap: 1rem;
  margin-top: 15px;
  overflow: hidden;
  width: 100%;
}

.supplier {
  background-color: white;
  height: 190px;
  border-radius: 15px;

  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.supplier:hover .supplier-hover,
.supplier-name {
  opacity: 1;
}

.supplier-img-container {
  width: 100%;
  height: 100%;
}
.supplier-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.supplier-background {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(58, 58, 58, 0));
  z-index: 10;
  height: 100%;
  width: 100%;
}
.supplier-name {
  color: white;
  font-size: 2.4rem;
  font-weight: 600;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 11;
  padding: 0.5rem 1.5rem;
  width: 100;
}

.supplier-background,
.supplier-name {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
