#root {
  margin: 0 auto;
  height: fit-content;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.admin-container {
  display: flex;
  flex-direction: column;
  padding: clamp(1rem, 2vw, 1.5rem) clamp(1rem, 8vw, 8rem);
}
.header h1 {
  font-size: 2.4rem;
}
.dashboard {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: clamp(2rem, 4vw, 5rem);
}

.sidebar {
  width: 20%;
  min-width: 160px;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;

  margin-bottom: 1.7rem;
  padding: 1.3rem 2rem;
  border-radius: 0 10px 10px 0;

  font-size: 1.6rem;
  cursor: pointer;
  background-color: #131416;
}

.unselectedtab {
  color: #d5d6d9;
  transition: 0.5s ease;
}

.unselectedtab:hover,
.selectedtab {
  color: #ffcf33;
}

.selectedli {
  background: #070709;
  background: linear-gradient(
    90deg,
    rgba(7, 7, 9, 1) 23%,
    rgba(19, 20, 22, 1) 100%
  );
}

.main-content-categories {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 960px) {
  .sidebar span {
    display: none;
  }
  .sidebar {
    min-width: 0;
    width: auto;
  }
}

.category-grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(130px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #131416;
  border-radius: 8px;

  align-content: flex-start;
  width: 100%;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: #1a1a1c;
  border-radius: 10px;
  border: none;
  background-color: 0.2s ease, transform 0.2s ease;
  text-decoration: none;
  color: #f0f0f0;
}

.category-card:hover {
  background-color: #28282b;
  transform: translateY(-3px);
}

.category-card-name {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
}

.category-card-icon {
  width: 45px;
  height: 45px;
  margin-bottom: 10px;
  color: white;
}

.category-card-action .category-card-icon {
  filter: invert(0%);
}
.category-card-action {
  background-color: #ffcf33;
}

.category-card-action:hover {
  background-color: #e6b800;
}

@media (max-width: 1200px) {
  .category-grid-container {
    grid-template-columns: repeat(3, minmax(120px, 1fr));
  }
}

@media (max-width: 768px) {
  .category-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .category-grid-container {
    grid-template-columns: 1fr;
  }
}
