.pop-up-form {
  background-color: #131416;

  padding: 10px 20px;
  border-radius: 10px;

  width: 300px;

  position: absolute;
  top: 125%;
  left: 10%;
  transform: translateX(-50%);

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 2000;

  h2 {
    font-size: 2rem;
    color: #ffd033;
    margin-top: 4vh;
    margin-bottom: 0;
    text-align: center;
  }

  p {
    font-size: 1.2rem;
    font-style: italic;
    color: white;
    text-align: center;

    margin-top: 0.5vh;
    line-height: 1;
  }

  input {
    width: 100%;
    padding: 1rem;

    border: 1px solid #d5d6d9;
    border-radius: 5px;

    background-color: white;

    color: gray;
    font-size: 1.2rem;
    font-weight: 400;

    box-shadow: inset 0 0 10px #aeaeae50;

    margin-bottom: 1.5vh;
  }

  ::placeholder {
    color: gray;
    font-weight: 400;
  }

  input:focus {
    outline: none;
  }
}

/* Submit Button */
.submit-button {
  width: 100%;
  padding: 1.2rem;
  margin-top: 2vh;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #ffd033;
  color: #070709;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #ffb800;
}

/* Close Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: #d5d6d9;
  font-size: 3rem;
  cursor: pointer;
  line-height: 1;
}

.close-button:hover {
  color: #ffd033;
}

/* Switch Link */
.switch-text {
  text-align: center;
  font-size: 1.4rem;
  color: #d5d6d9;
}

.switch-link {
  background: none;
  border: none;
  color: #ffd033;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0;
  text-decoration: underline;

  margin-left: 0.5vh;
}

.switch-link:hover {
  color: #ffb800;
}
