.page-content {
  margin-left: 15vw !important;
  margin-right: 15vw !important;
  margin-top: 5vh !important;
  margin-bottom: 2vh !important;
}

/* banner section */
.banner-container {
  width: 100%;
  min-height: 20vh;
  background-color: #070705;
  border-radius: 10px;
  border: 1px solid #d5d6d9;
  padding: 2rem 7rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 3vh !important;
  transition: 0.5 ease;
  overflow: hidden;
}
.text-banner {
  display: flex;
  flex-direction: column;
  color: white;
  width: 50%;
  gap: 2vh;
}
.banner-heading {
  font-size: 3.4rem;
  font-weight: 600;
  font-style: italic;
  line-height: 0.9;
}

.text-banner p {
  font-size: 1.6rem;
  font-weight: 400;
  width: 80%;
  margin: 0;
  margin-bottom: 0.6rem;
}

.button-banner {
  background-color: #ffcf33;
  padding: 1rem;
  width: 130px;
  text-align: center;
  color: black;
  border-radius: 8px;
  font-size: 1.4rem;
  display: inline-block;
  transition: 0.5s;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 500;
}

.button-banner:hover {
  background-color: #131416;
  color: white;
  border: 1px solid white;
}

.img-banner img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 950px) {
  .img-banner {
    height: 40vh;
    width: 35vw;
  }
}
@media (max-width: 780px) {
  .banner-container {
    flex-direction: column-reverse;
    height: auto;
    padding: 1rem 3.5rem 4rem 3.5rem;
  }
  .img-banner {
    min-height: 300px;
    min-width: 380px;

    margin-right: 3rem;
  }
  .text-banner {
    width: 100%;
    text-align: center;
  }
  .button-banner {
    margin: 0 auto;
  }

  .text-banner p {
    width: 100%;
    margin: 0 auto;
  }
}

/* products section */
.categories {
  padding: 2rem 6rem;
  border: 0.5px solid #d9d9d9;
  border-radius: 8px;
  margin-bottom: 2rem;
  overflow: hidden;
}

.categories ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffcf33;
  font-size: 1.6rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.categories li button {
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  border: none;
  position: relative;
}

.categories li button::after {
  content: "";
  position: absolute;
  left: 5px;

  bottom: -3px;
  height: 2px;
  background: #d5d6d9;
  width: 0%;
  transition: width 0.25s ease;
}

.categories li button:hover::after {
  width: 30px;
}

.products {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
  height: auto;
  max-height: 100vh;
  margin-bottom: 5rem;
  overflow-y: scroll;

  font-size: 1.5rem;
}

.item {
  background-color: #131416;
  border-radius: 8px;
  overflow: hidden;
  border: 0.5px solid #d5d6d9;
  height: 390px;
  display: flex;
  flex-direction: column;
}

.item-img {
  flex: 0 0 60%;
  overflow: hidden;
}

.item-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item-content {
  padding: 1rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.item-details {
  display: flex;
  flex-direction: column;
}

.price {
  font-size: 2.5rem;
  font-weight: 600;
  color: #ffcf33;
}

.title {
  font-size: 1.4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.view-item-btn {
  margin-top: auto;
  margin-bottom: 1rem;
  background-color: #070709;
  border: 0.5px solid #d5d6d9;
  border-radius: 8px;
  color: #ffcf33;
  font-size: 1.4rem;
  padding: 0.7rem 0;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
}
.view-item-btn:hover {
  background-color: #1a1b1e;
}
/*featured games sections*/

.featured-container {
  width: 100%;

  display: flex;
  flex-direction: row;

  border-radius: 10px;
  margin-top: 3vh;

  padding: 3vh 3vw 3vh 3vw;

  backdrop-filter: blur(10px); /* Blurs content behind the element */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
}

.bg-red {
  background: linear-gradient(-45deg, #540000, #820000, #a90000);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.bg-blue {
  background: linear-gradient(-45deg, #00062f, #000f6e, #000b52);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.bg-green {
  background: linear-gradient(-45deg, #001c0f, #004e2c, #016f3f);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.featuredleft {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.sectiontitle {
  font-family: "Ubuntu", sans-serif;
  padding-top: 3vh;

  font-weight: 600;
  font-size: 2.5rem;

  color: white;
}

.featuredimage {
  height: 70%;
  width: auto;
  max-height: 60%;
  user-select: none;
}

.featuredimage2 {
  width: 100%;
  height: auto;

  margin-top: 10vh;
  user-select: none;
}

.featuredright {
  width: 70%;
  padding-left: 30px;

  p {
    font-size: 1.5rem;
  }
}

.featuredgames {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  width: 95%;
  height: 100%;
}

.ftgame {
  height: 100%;
  width: 90%;
  margin-left: 20px;

  border-radius: 10px;

  background-color: black;
  position: relative;
  overflow: hidden;
}

.ftgame img {
  height: 100%;
  width: 100%;
  border-radius: 10px;

  object-fit: cover;
  user-select: none;
}

.ftgame-title {
  height: 35%;
  width: 100%;

  background: #000000;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(8, 0, 0, 0.47) 100%
  );

  opacity: 0;
  transition: 0.5s ease;
  border-radius: 0px 0px 10px 10px;

  position: absolute;
  bottom: 0;

  padding-left: 15px;
  padding-right: 15px;

  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
}

.ftgame-title:hover {
  opacity: 1;
}

/*scroll back to top button*/

.backtotop {
  margin-top: 2vh;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s ease-in;

  user-select: none;
}
