.page-content {
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 5vh;
  margin-bottom: 2vh !important;
}

/*featured games sections*/

.featured-container {
  width: 100%;
  height: 60vh;

  display: flex;
  flex-direction: row;

  border-radius: 10px;
  margin-top: 3vh;

  padding: 3vh 3vw 3vh 3vw;

  backdrop-filter: blur(10px); /* Blurs content behind the element */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
}

.bg-red {
  background: linear-gradient(-45deg, #540000, #820000, #a90000);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.bg-blue {
  background: linear-gradient(-45deg, #00062f, #000f6e, #000b52);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.bg-green {
  background: linear-gradient(-45deg, #001c0f, #004e2c, #016f3f);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.featuredleft {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.sectiontitle {
  font-family: "Ubuntu", sans-serif;
  padding-top: 3vh;

  font-weight: 600;
  font-size: 2.5rem;

  color: white;
}

.featuredimage {
  height: 80%;
  width: auto;

  user-select: none;
}

.featuredimage2 {
  width: 100%;
  height: auto;

  margin-top: 10vh;
  user-select: none;
}

.featuredright {
  width: 70%;
  padding-left: 30px;
}

.featuredgames {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  width: 100%;
  height: 100%;
}

.ftgame {
  height: 100%;
  width: 90%;
  margin-left: 20px;

  border-radius: 10px;

  background-color: black;
  position: relative;
  overflow: hidden;
}

.ftgame img {
  height: 100%;
  width: 100%;
  border-radius: 10px;

  object-fit: cover;
  user-select: none;
}

.ftgame-title {
  height: 35%;
  width: 100%;

  background: #000000;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(8, 0, 0, 0.47) 100%
  );

  opacity: 0;
  transition: 0.5s ease;
  border-radius: 0px 0px 10px 10px;

  position: absolute;
  bottom: 0;

  padding-left: 15px;
  padding-right: 15px;

  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
}

.ftgame-title:hover {
  opacity: 1;
}

/*scroll back to top button*/

.backtotop {
  margin-top: 2vh;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s ease-in;

  user-select: none;
}
