.page-content {
  margin-left: 10vw;
  margin-right: 10vw;
}

/*featured games sections*/

.featured-container {
  width: 100%;
  height: 60vh;

  display: flex;
  flex-direction: row;

  border-radius: 10px;
  margin-top: 3vh;

  padding: 6vh 3vw 3vh 3vw;

  backdrop-filter: blur(10px); /* Blurs content behind the element */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
}

.bg-red {
  background: linear-gradient(-45deg, #540000, #820000, #a90000);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.bg-blue {
  background: linear-gradient(-45deg, #00062f, #000f6e, #000b52);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.bg-green {
  background: linear-gradient(-45deg, #001c0f, #004e2c, #016f3f);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.featuredleft {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.sectiontitle {
  font-family: "Ubuntu", sans-serif;

  font-weight: 600;
  font-size: 2.5rem;

  color: white;
}

.featuredimage {
  height: 80%;
  width: auto;

  user-select: none;
}

.featuredimage2 {
  width: 100%;
  height: auto;

  margin-top: 10vh;
  user-select: none;
}

.featuredright {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*scroll back to top button*/

.backtotop {
  margin-top: 2vh;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s ease-in;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);

  user-select: none;
}
