#root {
  margin: 0 auto;
  height: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-dashboard-container {
  display: flex;
  flex-direction: column;
  padding: clamp(1rem, 2vw, 1.5rem) clamp(1rem, 8vw, 8rem);
}
.header h1 {
  font-size: 2.4rem;
}
.dashboard {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: clamp(2rem, 4vw, 5rem);
}

.sidebar {
  width: 20%;
  min-width: 160px;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;

  margin-bottom: 1.7rem;
  padding: 1.3rem 2rem;
  border-radius: 0 10px 10px 0;

  font-size: 1.6rem;
  cursor: pointer;
  background-color: #131416;
}

.unselectedtab {
  color: #d5d6d9;
  transition: 0.5s ease;
}

.unselectedtab:hover,
.selectedtab {
  color: #ffcf33;
}

.selectedli {
  background: #070709;
  background: linear-gradient(
    90deg,
    rgba(7, 7, 9, 1) 23%,
    rgba(19, 20, 22, 1) 100%
  );
}

.main-content {
  width: 100%;
}

@media (max-width: 960px) {
  .sidebar span {
    display: none;
  }
  .sidebar {
    min-width: 0;
    width: auto;
  }
}

/* STYLES FOR USER PROFILE PAGE */
.main-content h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.main-content button {
  width: 12vw;
  border-radius: 10px;
  border: transparent;
  background-color: #ffcf33;
  color: black;
  padding: 18px 24px;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  float: right;

  text-transform: uppercase;
}

.button-container {
  text-align: right;
}

.user-profile-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.user-profile-base {
  color: white;
  background-color: #131416;
  font-size: 1.6rem;
  align-items: center;
  border: 1px solid #d5d6d9;
  border-radius: 15px;
  padding: 3vw;
  padding-bottom: 2vw;
  margin-bottom: 5px;
  overflow: hidden;
  display: grid;
}

.user-profile-info {
  grid-template-columns: 2fr 2fr 2fr;
  gap: 6rem;
  justify-content: center;
}

.user-profile-pw {
  grid-template-columns: 2fr 2fr;
  gap: 10rem;
  justify-content: center;
}

input[type="text"] {
  background-image: none !important;
  background-repeat: none !important;
  background-position: none !important;
}

.user-profile-info .form-group label,
.user-profile-pw .form-group label,
.user-profile-address .form-group label {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.user-profile-info .form-group input[type="text"],
.user-profile-pw .form-group input[type="password"],
.user-profile-address .form-group input[type="text"] {
  display: block;
  padding: 1.5rem;
  font-size: 1.25rem;
  background-color: #131416;
  border-color: #d5d6d9;
}

.user-profile-address .container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 1rem;
}

.user-profile-address .full-width {
  grid-column: span 2;
}
