#root {
  margin: 0 auto;
  height: fit-content;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-dashboard-container {
  display: flex;
  flex-direction: column;
  padding: clamp(1rem, 2vw, 1.5rem) clamp(1rem, 8vw, 8rem);
}
.header h1 {
  font-size: 2.4rem;
}
.dashboard {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: clamp(2rem, 4vw, 5rem);
}

.sidebar {
  width: 20%;
  min-width: 160px;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;

  margin-bottom: 1.7rem;
  padding: 1.3rem 2rem;
  border-radius: 0 10px 10px 0;

  font-size: 1.6rem;
  cursor: pointer;
  background-color: #131416;
}

.unselectedtab {
  color: #d5d6d9;
  transition: 0.5s ease;
}

.unselectedtab:hover,
.selectedtab {
  color: #ffcf33;
}

.selectedli {
  background: #070709;
  background: linear-gradient(
    90deg,
    rgba(7, 7, 9, 1) 23%,
    rgba(19, 20, 22, 1) 100%
  );
}

.main-content {
  width: 100%;
}

@media (max-width: 960px) {
  .sidebar span {
    display: none;
  }
  .sidebar {
    min-width: 0;
    width: auto;
  }
}

/* STYLES FOR USER PROFILE PAGE */
.main-content h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2.4rem;
}

.main-content button {
  width: 12vw;
  border-radius: 10px;
  border: transparent;
  background-color: #ffcf33;
  color: black;
  padding: 18px 24px;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  float: right;
}

.button-container {
  text-align: right;
}

.user-profile-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.user-profile-info {
  color: white;
  background-image: linear-gradient(to top, #292b30, #070709);
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  font-size: 1.6rem;
  color: #ffcf33;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #d5d6d9;
  padding: 3vw;
  padding-bottom: 2vw;
  border-radius: 15px;
  margin-bottom: 5px;
  overflow: hidden;
}

.user-profile-pw {
  color: white;
  background-image: linear-gradient(to top, #292b30, #070709);
  display: grid;
  grid-template-columns: 2fr 2fr;
  font-size: 1.6rem;
  color: #ffcf33;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #d5d6d9;
  padding: 3vw;
  padding-bottom: 2vw;
  border-radius: 15px;
  margin-bottom: 5px;
  overflow: hidden;
}

input[type="text"] {
  background-image: none !important;
  background-repeat: none !important;
  background-position: none !important;
}

.user-profile-info .form-group label,
.user-profile-pw .form-group label {
  display: block;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.user-profile-info .form-group input[type="text"],
.user-profile-pw .form-group input[type="text"] {
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  background-color: #131416;
  border-color: #d5d6d9;
}

.user-profile-addresses {
  color: white;
  background-image: linear-gradient(to top, #292b30, #070709);
  display: grid;
  grid-template-columns: 2fr 2fr;
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #d5d6d9;
  padding-left: 3vw;
  border-radius: 15px;
  margin-bottom: 5px;
  overflow: hidden;
}

.user-address-list {
  display: flex;
  gap: 1.8vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  border-radius: 10px;
}

.address-card {
  position: relative;
  width: 25vw;
  border: 3px solid #666;
  border-radius: 10px;
  padding-left: 2vw;
  padding-right: 2vw;
  background-image: linear-gradient(to left, #181a1e, #0e0e13);
  transition: 0.2s;
}

.address-card.clickable {
  cursor: pointer;
}

.address-card:hover {
  border-color: #f8d648;
}

.user-address-info {
  margin-top: 1vw;
  line-height: 1.2;
}

.user-address-info p {
  margin: 1vw 0;
  padding: 0;
}

.user-address-info .name {
  font-weight: 600;
  color: white;
}

.add-new {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  color: #bbb;
  background-image: linear-gradient(to left, #181a1e, #0e0e13);
}

.default-tag {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.6vw;
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  font-size: 1.6rem;
  font-weight: 700;
  font-style: italic;
  color: #f8d648;
  border-bottom-left-radius: 10px;
  letter-spacing: 0.5px;
  border-left: 3px solid #666;
  border-bottom: 3px solid #666;
}
