#root {
  margin: 0 auto;
  height: fit-content;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-dashboard-container {
  display: flex;
  flex-direction: column;
  padding: clamp(1rem, 2vw, 1.5rem) clamp(1rem, 8vw, 8rem);
}
.header h1 {
  font-size: 2.4rem;
}
.dashboard {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: clamp(2rem, 4vw, 5rem);
}

.user-edit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
}

.user-edit-header h3 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 500;
}

.close-edit-modal-btn {
  background: #000;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  padding-bottom: 3px;
  transition: background-color 0.2s;
}

.close-edit-modal-btn:hover {
  background-color: #ff3333;
}

.sidebar {
  width: 20%;
  min-width: 160px;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;

  margin-bottom: 1.7rem;
  padding: 1.3rem 2rem;
  border-radius: 0 10px 10px 0;

  font-size: 1.6rem;
  cursor: pointer;
  background-color: #131416;
}

.unselectedtab {
  color: #d5d6d9;
  transition: 0.5s ease;
}

.unselectedtab:hover,
.selectedtab {
  color: #ffcf33;
}

.selectedli {
  background: #070709;
  background: linear-gradient(
    90deg,
    rgba(7, 7, 9, 1) 23%,
    rgba(19, 20, 22, 1) 100%
  );
}

.main-content {
  width: 100%;
}

@media (max-width: 960px) {
  .sidebar span {
    display: none;
  }
  .sidebar {
    min-width: 0;
    width: auto;
  }
}
/* STYLES FOR ORDERS-TAB */
.user-orders-section {
  gap: 1.6rem;
  display: flex;
  flex-direction: column;
}
.user-orders-section .search-bar {
  width: 100%;
}

.user-orders-tab {
  background-color: #010101;
  border-radius: 5px;
  border: 1px solid #d5d6d9;
  width: auto;
  padding: 1rem 2rem;
  overflow: hidden;
  margin-bottom: 13px;
}

.user-orders-tab ul {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
  justify-content: space-evenly;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #ffcf33;
  flex-wrap: wrap;
}

.user-orders-columnHeader,
.user-orders-list {
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr 1fr 1fr;
  font-size: 1.6rem;
  color: #ffcf33;
  justify-content: center;
  padding-left: 5vw;
  gap: 1rem;
  align-items: center;
}

.user-orders-list {
  color: white;
  background-image: linear-gradient(to top, #131416, #070709);
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 15px;
  margin-bottom: 5px;
  overflow: hidden;
  cursor: pointer;
}

.user-orders-list:hover {
  background-image: none;
  background-color: #131416;
}

.user-orders-list span,
.user-orders-columnHeader span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-orders-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
}

.user-orders-popup {
  display: flex;
  z-index: 999;
  background-color: #131416;
  border-radius: 15px;
  border: 0.5px solid #878787;
  width: 50%;
  height: 70%;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}

.orders-popup-content {
  padding: 0 2rem 2rem 2rem;
}

.orders-id {
  margin-bottom: 20px;
}
.order-id-title {
  font-size: 1.6rem;
}
.order-id-no {
  font-size: 2.4rem;
}

.order-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.first-column,
.second-column {
  width: 49%;
}

.order-details {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  background-color: #131416;
  margin-bottom: 10px;
  border: 0.5px solid #878787;
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden;
}

.order-detail-title {
  font-size: 1.2rem;
  color: #ffcf33;
}

.order-detail-value {
  font-size: 1.6rem;
}

.order-details-status {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  overflow-x: auto;
}
.details-status-payment,
.details-status-order {
  display: flex;
  flex-direction: column;
}

.details-status-payment-table select {
  padding: 1.2rem 0.5rem !important;
  width: 12rem !important;
}
.details-status-payment select,
.details-status-order select {
  background-color: black;
  padding: 8px;
  border: 1px solid #878787;
  font-weight: 300;
  font-size: 1.2rem;
  text-transform: capitalize;
  border-radius: 50px;
  text-align: center;
  appearance: none;
  width: 13rem;
  margin-top: 3px;
  cursor: pointer;
}

.order-details-columnHeader {
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr 3fr 1fr;
  margin-bottom: 8px;
  color: #ffcf33;
  margin-top: 8px;
  font-size: 1.6rem;
}
.order-details-columnHeader,
.order-details-list,
.order-details-amountbreakdown {
  padding: 0 2rem;
}

.order-details-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.order-entry {
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr 3fr 1fr;
  font-size: 1.6rem;
}

.order-details-img {
  width: 90px;
  height: 70px;
  margin-right: 10px;
}

.order-details-item-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.order-details-name {
  padding-right: 3rem;
}

.order-details-amountbreakdown {
  margin-top: 30px;

  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.order-amountbreakdown-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.amountbreakdown-details-total {
  font-weight: 600;
  color: #ffcf33;
}
